---
title: Articles
description: Articles for ...
layout: false
---

doctype xml UTF-8
rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom"
  channel
    title=current_page.data.fetch("title")
    link=request.url
    description=current_page.data.fetch("description")
    atom:link href=request.url rel="self" type="application/rss+xml"
    - current_page.node.formats.get(:html).children.each do |page|
      item
       title=page.data.fetch("title")
       link=page.request_path
       guid=url_for page.request_path
