<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= current_page.data.fetch("title") %></title>
    <%= stylesheet_link_tag "tailwind" %>
  </head>
  <body class="dark:text-slate-100 dark:bg-slate-800">
    <%= yield %>
  </body>
</html>
