<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= current_page.data.fetch("title") %></title>
    <%= stylesheet_link_tag "tailwind" %>
  </head>
  <body class="dark:bg-slate-900 dark:text-slate-100">
    <%= yield %>
  </body>
</html>
