---
title: My Website
posts: 10
primary_page:
  title: Home
  order: 1
---

<div class="flex flex-col space-y-10 md:space-y-16">
  <section class="posts flex flex-col space-y-4">
    <h2 class="text-2xl font-bold">Articles</h2>
    <% ArticlePage.published.each do |post| %>
      <div class="post flex flex-col md:flex-row flex-nowrap justify-between">
        <%=link_to_page post, class: "post-title" %>
        <div class="post-date opacity-60">
          <%= post.publish_at.strftime("%B %-d, %Y") %>
        </div>
      </div>
    <% end %>
  </section>

  <section class="posts flex flex-col space-y-4">
    <h2 class="text-2xl font-bold">Projects</h2>
    <div class="projects flex flex-col space-y-4">
      <% ProjectPage.all.each do |project| %>
        <div class="project">
          <%= link_to_page project, class: "project-title" %>
          <div class="project-description opacity-60">
            <%= project.subtitle %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
